
.cell {
  min-width: 8px;
  min-height: 8px;       
}

/* div {
  border: 1px solid lightgrey;
} */
.cell:hover {
  background-color: lightseagreen;
}
.marked{
  background-color: darkcyan;
}
.container {
  height: fit-content;
  width: fit-content;  
  max-height: 800px;  
  max-width: 800px;
  border: 1px solid black; 
  display: grid;
  background-color: ivory;  
  /* grid-template-columns: repeat(16, auto);    */
}


